<a href="https://colab.research.google.com/github/unusualpineapple/food-sales-prediction/blob/main/FoodSalesPrep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import pandas as pd
sales = '/content/sales_predictions.csv'
df = pd.read_csv (sales)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [50]:
df.shape

(8523, 12)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [52]:
df.duplicated().any()

False

In [53]:
df.isna().sum()
df[df.isna().any(axis = 1)]
#Decided to leave the data because it will be deleting almost half of the data.  Suggest to consult with a specialist to see what matters.

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
3              FDX07        19.20  ...      Grocery Store           732.3800
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
8              FDH17        16.20  ...  Supermarket Type1          1076.5986
9              FDU28        19.20  ...  Supermarket Type1          4710.5350
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
...              ...          ...  ...                ...                ...
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128
8508           FDW31        11.35  ...  Supermarket Type1          2587.9646
8509           FDG45         8.10  ...      Grocery Store           424.7804
8514           FDA01        15.00  ...  Supermarket Type1           468.7232
8519           FDS36         8.38  ...  Supermarket Type1           549.2850

[3873 rows x 12 columns]

In [54]:
#Taking the mean of the item weight and replacing all the Nan with the average
df['Item_Weight'].fillna(value = df['Item_Weight'].mean(), inplace = True)
df.drop(columns = ['Outlet_Size'], inplace = True)
df
#Dropped out the outlet size becuase there was too much missing data and it didnt seem relevant to what was being shown
#Then averaged the weight of the items to fill in the missing data to keep that row

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 11 columns]

In [55]:
df.isna().sum()
#Confirming not missing any other data in the set besides the dropped column

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [56]:
#Replacing any Syntax Errors
#Replacing for Item type
df.replace(['reg'], ['Regular'], inplace = True)
df.replace(['LF', 'low fat'], ['Low Fat', 'Low Fat'], inplace = True)
df['Item_Fat_Content'].value_counts()
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 11 columns]

In [61]:
df.agg(
    {
        "Item_Weight": ["min", "max", "mean"],
        "Item_Visibility": ["min", "max", "mean"],
        "Item_MRP": ["min", "max", "mean"],
        "Outlet_Establishment_Year": ["min", "max", "mean"],
        "Item_Outlet_Sales": ["min", "max", "mean"],
       
    }
)

      Item_Weight  ...  Item_Outlet_Sales
min      4.555000  ...          33.290000
max     21.350000  ...       13086.964800
mean    12.857645  ...        2181.288914

[3 rows x 5 columns]